@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  max-width: 600px;
  border-radius: 12px;
  overflow: hidden;
  display: grid;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  padding: 32px;
}

.category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 16px;
}

.title {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 1;
  margin-bottom: 20px;
}

.description {
  font-size: 14px;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
  margin-bottom: 24px;
}

.price {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.new {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
}

.old {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

.btn {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn:hover {
  background-color: hsl(158, 36%, 25%);
}

/* Desktop layout */
@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}
